
$font-stack1: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$font-stack2: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;;

$min-widch: 1453px;

// COLORS
$primary-color: #fff;
$description-color: #e90303;
$post-color: #efefef;
$border-color: #607d8b;
$btn-color: #01acac;
$valid-color: #7ee675;